{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="template-title-wrap">
    <div class="template-title">
        <h1 style="padding-bottom: 0;">
            <span>{{ page.title }}</span>
        </h1>
    </div>
</div>

<div class="bk-pt-default">
    <div class="container">
        <!-- Page Content -->
        <section class="template-content">
            <div class="container">
    
                <!-- Main Widet Zone -->
                {{zone('main')|raw}}
    
            </div>
        </section>
        <!-- End Page Content -->
    </div>
    <!-- End bk-pt-default -->
</div>

{% include "includes/footer.twig" %}

{% endblock %}
