{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="profile-header">
    <div class="header-extendednavigation">
        {{widget('extendednavigation', 'extendednavigation', { 'align': 'center'})|raw}}
    </div>
</div>

<div class="bk-pt-default">
    <div class="container">
        <!-- Page Content -->
        <section class="template-content">
            <div class="container">
    
                <!-- Main Widet Zone -->
                {{zone('main')|raw}}
    
            </div>
        </section>
        <!-- End Page Content -->
    </div>
    <!-- End bk-pt-default -->
</div>

{% include "includes/footer.twig" %}

{% endblock %}
