<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        {{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->
